
@import "__reset";
@import "__variables";

.header {
  background: $primary-color;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;

  &-headline {
    padding: 20px 2em;
  }

  &__button {
    margin: 30px 2em;
  }
}


.repos {
  &__name {
    padding: 10px 0;
    font-size: 1.25rem;
    font-weight: 100;
    color: $font-color;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    &:after {
      content: "";
      width: 10%;
      border: 1px solid $primary-color;
    }
    &:hover{
      &:after {
        width: 100%;
        transition: 2s ease;
      }
    }
  }
  ul {
    padding: 0 60px;
    li {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
      button {
        background: transparent;
        border: 0;
        outline: 0;
        svg {
          path {
            fill: transparent;
            stroke: #000;
            transition: 1s ease;
            cursor: pointer;
          }
          &:hover {
            width: 17px;
            transition: 1s ease;
          }
        }
        &.active {
          svg {
            width: 17px;
            path {
              fill: yellow;
            }
          }
        }

      }
    }
  }
}
