<section class="login">
  <div class="login-headline">
    <h1 class="title title--bigger">Repository</h1>
    <p class="subtitle subtitle--bigger">frontend</p>
  </div>

  <div class="login-center">
    <div class="login-center__image">
      <i class="login-center__image--icon login-center__image--1">
        <svg><use xlink:href="assets/svg/github.svg#github"></use></svg>
      </i>
    </div>

    <a class="login-center__button button button--bigger" href="{{ githubAuthUri }}" title="login com github" >Login com <b>GitHub</b></a>
  </div>

  <a class="login__social" href="{{ githubSocial }}" title="github" target="_blank" >
    <svg><use xlink:href="assets/svg/github.svg#github"></use></svg>
  </a>
</section>
